body {
  overscroll-behavior-y: none;
}

* {
  margin: 0;
  padding: 0;
}

#side {
  padding: 0;
  overflow: hidden;
}

#sidetitle {
  padding-left: 8px;
  padding-right: 8px;
  margin-right: auto;
  margin-bottom: 5px;
  margin-top: 5px;
  font-size: 15px;
  overflow: hidden;
}

#sidetext {
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 5px;
  margin-right: auto;
  font-size: 15px;
  overflow: hidden;
}

.react-tag-input {
  min-height: 55px !important;
  border-width: 2px !important;
  border-radius: 5px !important;
}

input {
  border-radius: 20px;
  padding: 15px;
  border-color: white !important;
  border: solid;
  background-color: #2f2f2f;
  margin: 5px;

  border-width: 2px;
}

body {
  height: 100vh;
}

#root {
  height: 100%;
}

.carousel .thumb img {
  width: 100% !important;
  height: 100% !important;
}

.carousel .slide img {
  max-height: 60vh;
  width: auto;
  overflow: hidden;
}

.planet {
  position: absolute;
  bottom: 30px;
  right: 20px;
  width: 60px;
  height: 60px;
  background-color: transparent;
  transition: border-color 0.4s ease;
  -webkit-transition: border-color 0.4s ease;
}

.float {
  -webkit-animation-name: Floating;
  animation-name: Floating;
  -webkit-animation-duration: 6s;
  animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

@-webkit-keyframes Floating {
  from {
    -webkit-transform: translate(0, 0px);
  }
  65% {
    -webkit-transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(0, -0px);
  }
}

@keyframes Floating {
  from {
    -webkit-transform: translate(0, 0px);
  }
  65% {
    -webkit-transform: translate(0, 50px);
  }
  to {
    -webkit-transform: translate(0, -0px);
  }
}

.spin {
  -webkit-animation-name: Spinning;
  animation-name: Spinning;
  -webkit-animation-duration: 12s;
  animation-duration: 12s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

@-webkit-keyframes Spinning {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes Spinning {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

.dzu-dropzone {
  border-radius: 10px !important;
}

.MuiTable-root.Table-table {
  min-width: 0px !important;
}
