/* Fix for iOS safari navbar & chrome -wekit-fill-available bug...  */
body {
  height: 100vh;
  overscroll-behavior-y: none;
}
@supports (-webkit-touch-callout: none) {
  body {
    height: -webkit-fill-available;
  }
}

#root {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
}

.paperplane {
  position: absolute;
  top: -10px;
  left: -20px;
  margin: 0 10px;
}

.dzu-dropzone {
  border-radius: 10px !important;
}

.MuiTable-root.Table-table {
  min-width: 0px !important;
}

.fade-in {
  transition: opacity 1.5s ease;
}

.fade-out {
  opacity: 0;
  transition: opacity 1.5s ease;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}
.loader::before,
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #fff;
  animation: prixClipFix 2s linear infinite;
}
.loader::after {
  transform: rotate3d(90, 90, 0, 180deg);
  border-color: #ff3d00;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  75%,
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
}

@media only screen and (max-width: 900px) {
  .sidebarContent {
    max-width: 100vw !important;
  }
}

.mobile-splash-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: -webkit-fill-available;
  max-height: -webkit-fill-available;
  align-items: flex-start;
  overflow-x: hidden;
}
